---
import LinkComponent from "../ui/links/LinkComponent.astro";
import LinkIconComponent from "../shared/LinkIconComponent.astro";
---

<footer class="bg-primary text-white py-4 px-6 w-full h-52 max-md:h-110 flex flex-col justify-between pt-10 items-center">
    <div class="w-full flex max-md:flex-col max-md:flex-1 gap-4 justify-around items-center">
        <div class="w-1/3 max-md:w-full flex flex-col justify-start items-center">
            <a href="/" class="text-white text-5xl font-logo no-underline">Coffee Shop</a>
            <p class="text-sm py-2">Visítanos y descubre por qué somos <br> la cafetería favorita del vecindario.</p>
        </div>
        <div class="w-1/3 max-md:w-full flex h-full max-md:h-auto justify-center max-md:justify-start items-center">
            <div class="h-full border-2 border-secondary mx-2 "></div>
            <ul class="flex flex-col gap-2 justify-start">
                <li class="">
                    <LinkComponent link="#" text="Productos" />
                </li>
                <li class="">
                    <LinkComponent link="#" text="Empresa" />
                </li>
                <li class="">
                    <LinkComponent link="#" text="Soporte" />
                </li>
                <li class="">
                    <LinkComponent link="#" text="Legal" />
                </li>
            </ul>
        </div>
        <div class="w-1/3 max-md:w-full flex justify-center max-md:justify-evenly items-center">
            <ul class="flex gap-4 justify-evenly w-full">
                <li class="flex justify-center items-center">
                    <a href="https://wa.me/00000000" aria-label="Whatsapp" class="w-10 h-10 flex justify-center items-center hover:scale-130 transition duration-200" target="_blank" rel="noreferrer">
                        <LinkIconComponent name="whatsapp" color="white" />
                    </a>
                </li>
                <li class="flex justify-center items-center">
                    <a href="https://facebook.com" aria-label="Facebook" class="w-10 h-10 flex justify-center items-center hover:scale-130 transition duration-200" target="_blank" rel="noreferrer">
                        <LinkIconComponent name="facebook-circle" color="white" />
                    </a>
                </li>
                <li class="flex justify-center items-center">
                    <a href="https://instagram.com" aria-label="Instagram" class="w-10 h-10 flex justify-center items-center hover:scale-130 transition duration-200" target="_blank" rel="noreferrer">
                        <LinkIconComponent name="instagram-alt" color="white" />
                    </a>
                </li>
                <li class="flex justify-center items-center">
                    <a href="https://tiktok.com" aria-label="Tiktok" class="w-10 h-10 flex justify-center items-center hover:scale-130 transition duration-200" target="_blank" rel="noreferrer">
                        <LinkIconComponent name="tiktok" color="white" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="w-full flex justify-center items-center text-gray-400 text-sm -top-0">
        <p>&copy; 2025 Coffee Shop. All rights reserved.</p>
    </div>
</footer>