---
import BottomComponent from "../ui/buttons/BottomComponent.astro";
---

<section class="min-h-210 w-min-full bg-[url('/coffee-and-chocolate.webp')] bg-cover bg-center flex items-center justify-center">
    <div class="z-10 text-center flex flex-col items-center gap-10 px-10 py-12 max-w-4xl bg-white/70 rounded-2xl shadow-lg">
        <h2 class="font-logo text-6xl text-primary">Coffee Shop</h2>
        <p class="font-text text-lg text-primary">Más que una cafetería, somos un refugio para los amantes del buen grano y las buenas conversaciones.</p>
        <div>
            <BottomComponent href="/about" text="Ver más de nuestra historia" variant="secondary" />
        </div>
    </div>
</section>