---
import ProductFilter from "../section/ProductFilter";

const products = [
  {
    title: "Cappuccino",
    price: 2,
    image: "/cappuccino.webp",
    description: "Ideal si no quiere amargar tu dia.",
    category: "Cafés",
    details: "Cremoso por fuera, intenso por dentro, con una capa de espuma aterciopelada que lo hace irresistible.",
    ingredients: "Cafe semimolido semitostado, leche de avellana y con un toque de canela"
  },
  {
    title: "Tiramisú",
    price: 3.5,
    image: "/tiramisu.webp",
    description: "El postre italiano perfecto.",
    category: "Postres",
    details: "Elaborado con queso mascarpone auténtico y un baño de café que realza cada capa.",
    ingredients: "café, mascarpone (queso italiano de pasta blanda hecho a base de crema), yemas de huevo y bizcochos de soletilla (savoiardi en italiano)"
  },
];
---

<section>
  <div class="p-5 mt-6">
    <h2 class="text-3xl text-center lg:text-4xl font-bold mb-4 font-title">
      Nuestros productos
    </h2>

    <p class="text-center text-gray-600 font-text">
      Disfruta de nuestros cafés y saborea los deliciosos postres
    </p>
  </div>

  <ProductFilter products={products} client:load />
</section>
