---
import HeaderComponent from "../components/layout/HeaderComponent.astro";
import FooterComponent from "../components/layout/FooterComponent.astro";

const title = Astro.props.title;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/CatppuccinCoffeescript.svg" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="Descubre nuestras especialidades navideñas y bebidas artesanales. Productos de temporada con entrega rápida y sabor inigualable.">
    <title>{title}</title>
	</head>
	<body class="min-h-screen w-full flex flex-col m-0 p-0">
        <HeaderComponent />
        <main class="flex-1 w-full">
		    <slot />
        </main>
        <FooterComponent />
	</body>
</html>
