---
import BottomComponent from "../buttons/BottomComponent.astro";
---

<section class="min-h-150 w-min-full bg-[url('/coffeBackgroung.webp')] bg-cover bg-center flex items-center justify-center">
    <article class="flex items-center justify-center h-full">
        <div class="w-80/100 flex flex-col items-center sm:items-center md:items-center lg:items-start gap-4">
            <h1 class="text-white text-7xl md:text-8xl font-title text-center sm:text-center md:text-center lg:text-start text-shadow-2xs shadow-black">El Mejor cafe del vecindario</h1>
            <div class="w-auto py-2">
                <BottomComponent href="/season" text="Ver Ofertas" variant="secondary" />
            </div>
        </div>
    </article>
</section>